$white:var(--white);
$gray:var(--gray);
$gray-light:var(--gray-light);
$blue:var(--blue);
$error:var(--error);
$dark:var(--dark);

$msg-success:var(--msg-success);
$msg-warning:var(--msg-warning);
$msg-error:var(--msg-error);
$msg-info:var(--msg-info);
