@media only screen and (max-width: 832px) {
    header, main {
        flex-direction: column;
        width: 95%;
        max-width: 500px;
    }
    .block-container {
        flex-basis: 100%;
    }
    .page--title {
        line-height: 1em;
    }
}
