<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="#303b44">
    <meta name="apple-mobile-web-app-capable" content="#303b44">
    <meta name="apple-mobile-web-app-status-bar-style" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="icon" href="/favicon.ico">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon">
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossOrigin="true">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap">

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>К сожалению <%= htmlWebpackPlugin.options.title %> без включенного JavaScript не работает. Пожалуйста, включите JavaScript и обновите страницу.</strong>
    </noscript>
    <div id="currency"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
