<template lang="pug">
.currency-icon(:style="bgColor")
</template>

<script lang="ts">

// import { defineComponent,computed } from 'vue'
import { defineComponent,computed } from 'vue'

export default defineComponent({
    name: 'CurrencyIcon',
    props: {
        color: {
            type:[String],
            default: ''
        }
    },
    setup(props) {
        const bgColor = computed(() => `background-image:url('${props.color}')`)
        return {
            bgColor
        }
    }
})
</script>

<style lang="scss">
    .currency-icon {
        display: block;
        width: 27px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-right: 16px;
    }
</style>
