<template lang="pug">
.input-container(:class="{'is-error':!isValid}")
    input.input-native(:value="inputValue" @keydown="keyDownHandler" @keyup="keyUpHandler")
    .is-error-notice(v-if="!isValid") Только цифры и разделитель точка
</template>

<script lang="ts">
/**
 * Массив допустимых клавиш
 * @type {string[]}
 */
const WHITE_LIST = ['ctrlKey+c','ctrlKey+v','Backspace','Delete','ArrowLeft','ArrowRight']
/**
 * Шаблон регулярного выражения для проверки вводимого значения
 * @type {RegExp}
 */
const VALID_PATTERN = new RegExp(/^[0-9]*\.?[0-9]*$/,'i')
import {ref, defineComponent,computed} from 'vue'

export default defineComponent({
    name: 'InputComponent',
    props: {
        /**
         * Основное значение
         */
        modelValue: {
            type:[Number,String],
            default() {
                return undefined
            }
        }
    },
    defineEmits:['input'],
    setup(props:any, {emit}) {
        const inputValue = computed({
            get:() => {
                return props.modelValue
            },
            set:(value) => emit('update:modelValue',value)
        })

        /**
         * @param {Boolean} - метка корректности введённых данных
         */
        let isValid = ref(true)

        const keyDownHandler = (event:KeyboardEvent) => {
            let target:any = event.target
            let value = target.value || ''
            let key = ((event.ctrlKey ? 'ctrlKey+' : '') + event.key) || ''
            let fullValue = value + key
            fullValue = fullValue.replace(',','.')
            isValid.value = VALID_PATTERN.test(fullValue) || (WHITE_LIST.indexOf(key) > -1)

            if(!isValid.value) {
                emit('update:modelValue',value)
                event.preventDefault()
            }
        }
        const keyUpHandler = (event:KeyboardEvent) => {
            let target:any = event.target
            let value = target.value || ''
            emit('update:modelValue',value)
        }
        return {
            isValid,
            inputValue,
            keyDownHandler,
            keyUpHandler
        }
    }
})
</script>

<style lang="scss">
    @import '../assets/scss/colors.scss';
    .input-container {
        color: $gray;
        flex-grow:1;
        &.is-error {
            color: red;
            .input-native {
                border:1px solid $error;
            }
        }
        .is-error-notice {
            position: absolute;
            font-size:.8em;
            color: $error;
            opacity: .8;
            padding-top: 6px;
            white-space: nowrap;
        }
        .input-native {
            width: 100%;
            height: 40px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            border: 1px solid $gray-light;
            padding: 0 12px;
            font-size: 1.5em;
            text-align: right;
            color: $gray;
        }
    }
</style>
