<template lang="pug">
.select-currency-container(:style="{zIndex:zIndex}")
    .select-currency-input-container(@click="toggleIsHidden")
        CurrencyIcon(:color="currentIcon")
        input.select-currency(v-model="value" readonly)
        .select-currency-arrow
    ul.select-currency-list(ref="selectCurrencyList" :class="{'is-hidden':isHidden}"  @mouseleave="inputMouseLeaveHandle")
        li.select-currency-list--item(v-for="(item,ind) in currencyPairs" :key="ind" @click="selectHandler(item.quote_currency)")
            CurrencyIcon(:color="item.color")
            .select-currency-name {{ item.quote_currency }}
</template>

<script lang="ts">

import CurrencyIcon from "@/components/CurrencyIcon.vue";
import {CurrencyStore} from "@/store/Currency"
import {ref, defineComponent,computed} from 'vue'

export default defineComponent({
    name: 'SelectCurrency',
    components: {
        CurrencyIcon
    },
    props: {
        /**
         * Направление конвертации откуда/куда
         * используется для формирования метода сохранения в хранилище vuex
         * Допустимые значения:
         * From {String} - откуда (основная)
         * To {String} - куда (второстепенная)
         */
        currencyDirection: {
            type:[String],
            default: 'From'
        },
        /**
         * Число, CSS z-index для корректного наложения элементов при открытом списке
         */
        zIndex: {
            type:[Number],
            default: 1
        }
    },
    emits: ['selectHandler'],
    setup(props:any) {
        const currency = CurrencyStore()
        /**
         * Метка отображения списка валют. True - скрыта
         */
        const isHidden = ref(true)
        const currencyPairs = ref([])
        const value = computed(() => {
            const currencyDirection:'from' | 'to' = props.currencyDirection.toLowerCase()
            return currency[currencyDirection]
        })

        const currentIcon = computed(() => {
            let color = ''
            const pairs = currency.pairs
            if(!pairs) return ''
            pairs.some((p:any) => {
                if(p.quote_currency === value.value) {
                    color = p.color
                }
            })
            return color
        })
        /**
         * Скрываем список валют, когда курсор мыши не находится над списком
         */
        const inputMouseLeaveHandle = () => {
            isHidden.value = true
        }
        /**
         * Переключает метку скрытия / отображения списка
         */
        const toggleIsHidden = () => {
            isHidden.value = !isHidden.value
        }
        /**
         * Записывает выбранное значение валюты
         * @param value
         */
        const selectHandler = (value:string) => {
            isHidden.value = true
            const commitName:'from' | 'to' = props.currencyDirection.toLowerCase()
            currency[commitName] = value
        }

        (async () => {
            currencyPairs.value = await currency.getPairs()
        })()
        return {
            currentIcon,
            isHidden,
            value,
            currencyPairs,
            inputMouseLeaveHandle,
            toggleIsHidden,
            selectHandler
        }
    }
})
</script>

<style lang="scss">
    @import '../assets/scss/colors.scss';
    $inputHeight: 40px;
    .select-currency {
        cursor: pointer;
        background-color: $blue;
        color: $white;
        width: 3.15em;
        border:none;
        font-size: 16px;
        &-container {
            position: relative;
            cursor: pointer;
            flex-grow:0;
            height: $inputHeight;
            background-color: $blue;
            border:none;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
        &:focus{
            outline:none;
            box-shadow:1px 2px 3px 4px $blue;
        }
        &-list {
            position: absolute;
            overflow: hidden;
            height: auto;
            background-color: $blue;
            color: $white;
            width: 100%;
            z-index: 1;
            box-shadow: 1px 2px 3px 4px $gray-light;
            transition: height .4s ease-in-out;
            &.is-hidden {
                height: 0;
                box-shadow: none;
            }
        }
        &-list--item {
            display: flex;
            padding: 8px 16px;
            &:hover {
                background-color: $gray-light;
                color: $dark;
            }
        }
        &-arrow {
            display: block;
            width: 15px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../img/icons/dropdown-ico.svg);
        }
        &-input-container {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $blue;
            height: $inputHeight;
            padding: 8px 16px;
        }
    }
</style>
