<template lang="pug">
.crypto-exchange-page
    header
        h1.page--title Конвертер валют

    main
        div.exchange-form--container.block-container
            .block
                h2.block-title Конвертируем из {{currencyFrom}} в {{currencyTo}}
                .exchange-input
                    InputComponent(v-model="valueFrom")
                    SelectCurrency(:zIndex="2")
                .exchange-reverse(@click="reverseCurrencies")
                .exchange-input
                    InputComponent(v-model="valueTo")
                    SelectCurrency(:currencyDirection="'To'" :zIndex="1")

        div.exchange-summary--container.block-container
            .block
                h2.block-title Итого
                .single-element
                    .single-container Комиссия за конвертацию {{convertationCommission}}% (-{{((convertationCommission / 100) * valueFrom).toFixed(2)}}&nbsp;{{currencyFrom}})
                    .single-container Вы получите с учётом комиссии {{ (valueTo - ((convertationCommission / 100) * valueTo)).toFixed(2) }}&nbsp;{{ currencyTo }}
                    .single-container 1 {{ currencyFrom }} = {{ valueFromOne }} {{ currencyTo }}
                    .single-container 1 {{ currencyTo }} = {{ valueToOne }} {{ currencyFrom }}
                .others-currencies
                    h3.others-currencies--title {{ valueFrom }} {{ currencyFrom }} по отношению к другим валютам
                    ul.others-currencies--list(v-if="otherCurrenciesList && otherCurrenciesList.length")
                        li.others-currencies--list-item(v-for="(item) in otherCurrenciesList" :key="`${item.currencyName}`" @click="selectCurrency(item.currencyName)")
                            CurrencyIcon(:color="item.color")
                            | {{ item.currencyName }} = {{ item.value }}
                    template(v-else)
                        .stub-container(v-for="(i) in [1,2,3,4,5,6,7,8]" :key="`stub-${i}`")
                            .stub-ico
                            .stub-block

    footer
        .footer-notice Курсы валют пересчитываются каждые 30 секунд
    .messages-container
        .message-text(
            v-for="(message, ind) in Object.fromEntries(messagesList)"
            :key="ind"
            :class="{[message.type]:message.type,'is-shown':message.isShown}")
            | {{message.text}}
</template>

<script lang="ts">

import {generateUniqeHash} from '@/assets/js/utils'

import {defineComponent} from "vue";

import InputComponent from '@/components/InputComponent.vue'
import SelectCurrency from '@/components/SelectCurrency.vue'
import CurrencyIcon from '@/components/CurrencyIcon.vue'

import {ref,onBeforeMount,watch,computed} from   'vue'

import {CurrencyStore} from "@/store/Currency"

import { CurrencyPair,PairRate } from '@/assets/js/Mock'

export default defineComponent({
    name: 'App',
    components: {
        InputComponent,
        SelectCurrency,
        CurrencyIcon
    },
    setup() {
        const messagesList = ref(new Map)
        const messageShow = (msg:string,type = 'info') => {
            if(!msg) return
            const hash:any = generateUniqeHash(msg)
            messagesList.value.set(hash,{
                type,
                text:msg,
                isShown:false
            })
            setTimeout(() => {
                if(messagesList.value.has(hash)) {
                    let item = messagesList.value.get(hash)
                    item['isShown'] = true
                    messagesList.value.set(hash,item)
                }
            },10)
            setTimeout(() => {
                if (messagesList.value.has(hash)) {
                    let item = messagesList.value.get(hash)
                    item['isShown'] = false
                    messagesList.value.set(hash, item)
                }
                setTimeout(() => {
                    if (messagesList.value.has(hash)) {
                        messagesList.value.delete(hash)
                    }
                },1000)
            },4000)
        }

        const currency = CurrencyStore()
        const valueFrom = ref<string | undefined>(undefined)
        const valueTo = ref<string | undefined>('1')
        const valueFromOne = ref<string | undefined>(undefined)
        const valueToOne = ref<string | undefined>(undefined)
        const currencyPairs = ref<CurrencyPair | null>(null)
        const currencyRates = ref<PairRate | null>(null)
        const otherCurrenciesList = ref([])
        const convertationCommission = computed(() => currency.convertationCommission)
        const currencyFrom = computed(() => currency.from)
        const currencyTo = computed( () => currency.to)
        watch(() => valueFrom.value,async (n,o) => {
            if(currency.hasConverted) {
                currency.hasConverted = false
                return
            }
            if(n && n !== o) {
                valueTo.value = await currency.convert(n,currencyFrom.value,currencyTo.value)
                currency.getCommission()
            }
        })
        watch(() => valueTo.value,async (n,o) => {
            if(currency.hasConverted) {
                currency.hasConverted = false
                return
            }
            if(n && n !== o) {
                valueFrom.value = await currency.convert(n,currencyFrom.value,currencyTo.value,true)
                currency.getCommission()
            }
        })
        watch(
            () => currencyFrom.value,
            async (n) => {
                if(n) {
                    const promises = await Promise.all([
                        currency.convert(''+valueFrom.value,n,currencyTo.value),
                        currency.convert('1',n,currencyTo.value),
                        currency.convert('1',currencyTo.value,n),
                        toOthersCurrencyList()
                    ])
                    valueTo.value = promises[0]
                    valueFromOne.value = promises[1]
                    valueToOne.value = promises[2]
                    currency.getCommission()
                }
            }
        )
        watch(
            () => currencyTo.value,
            async (n) => {
                if(n) {
                    const promises = await Promise.all([
                        currency.convert(''+valueFrom.value,currencyFrom.value,n),
                        currency.convert('1',n,currencyTo.value),
                        currency.convert('1',currencyTo.value,n),
                        toOthersCurrencyList()
                    ])
                    valueTo.value = promises[0]
                    valueFromOne.value = promises[1]
                    valueToOne.value = promises[2]
                    currency.getCommission()
                }
            }
        )

        const selectCurrency = (selected:string) => {
            currency.from = selected
        }
        const reverseCurrencies = () => {
            [currency.from,currency.to] = [currency.to,currency.from]
        }
        /**
         * Собирает массив остальных сконвертированных валют по отношению к основной и отличных от второстепенной.
         * Возвращает массив объектов валют.
         * @return [{value,currencyName,color}]
         */
        const toOthersCurrencyList = async () => {
            if(!currencyRates.value) return []
            let result:any = []
            const promises = Object.values(currencyRates.value).reduce((arr:any,item:any) => {
                let ind = item.pair.indexOf('/')
                let toCurrency = item.pair.substring(ind+1,ind+4)
                if(currencyFrom.value !== toCurrency && currencyTo.value !== toCurrency) {
                    arr.push(currency.convert('' + valueFrom.value, currencyFrom.value, toCurrency))
                    result.push({value: '', currencyName: toCurrency, color: item.color})
                }
                return arr
            },[])
            const promisesResult = await Promise.all(promises)
            for(let j in promisesResult) {
                result[j]['value'] = promisesResult[j]
            }
            otherCurrenciesList.value = result
            return result
        }
        onBeforeMount(async () => {
            /**
             * Обновление курсов с бэка каждые 30 секунд
             */
            const updateCurrency = async () => {
                const requests = await Promise.all([
                    currency.getPairs(),
                    currency.getRates()
                ])
                currencyPairs.value = requests[0]
                currencyRates.value = requests[1]

                valueFrom.value = valueFrom.value || '1'
                valueTo.value = await currency.convert(valueFrom.value.toString(),currencyFrom.value,currencyTo.value)
                currency.getCommission()

                const promises = await Promise.all([
                    currency.convert('1',currencyFrom.value,currencyTo.value),
                    currency.convert('1',currencyTo.value,currencyFrom.value),
                    toOthersCurrencyList()
                ])
                valueFromOne.value = promises[0]
                valueToOne.value = promises[1]
            }
            await updateCurrency()
            setInterval(() => {
                updateCurrency()
                messageShow('Курсы валют обновлены','success')
            },30000)
        })
        return {
            messagesList,

            valueFrom,
            valueTo,
            currencyFrom,
            currencyTo,
            valueFromOne,
            valueToOne,
            currencyPairs,
            convertationCommission,
            otherCurrenciesList,
            reverseCurrencies,
            selectCurrency
        }
    }
})

</script>

<style lang="scss">
    @import './assets/scss/base.scss';
    @import './assets/scss/colors.scss';

    body {
        background-color: $white;
    }

    header, main {
        width: 100%;
        max-width: 800px;
        margin: 3em auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .page--title {
        font-size: 3em;
        font-weight: 900;
    }

    .block-container {
        flex-basis: 48%;
        flex-grow: 0;
        padding: 24px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-radius: 2px;
        border: 1px solid $gray-light;

        .block {
            width: 100%;
            height: 100%;

            &-title {
                margin-bottom: 16px;
            }
        }
    }

    .exchange-input {
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
    }

    .others-currencies {
        &--title {
            margin-bottom: 16px;
        }

        &--list-item {
            cursor: pointer;
            display: flex;
            margin-bottom: 8px;
            align-items: center;
            color: $gray;

            &:hover {
                background-color: $gray-light;
            }
        }
    }

    .exchange-reverse {
        display: block;
        width: 30px;
        height: 50px;
        cursor: pointer;
        background-image: url(./img/icons/swap-vertical-ico.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-left: 76%;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .single-container {
        margin-bottom: 16px;
        font-size: 1.2em;
        color: $gray;
    }

    @mixin stubMixin($width) {
        width: $width;
        height: 20px;
        background-color: $gray-light;
        border-radius: 1px solid $gray;
    }

    .stub {
        &-container {
            width: 100%;
            display: flex;
            margin-bottom: 8px;
        }

        &-ico {
            @include stubMixin(25px);
            margin-right: 30px;
        }

        &-block {
            @include stubMixin(70px);
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
    .footer-notice {
        width: 100%;
        max-width: 800px;
        color: $gray;
        font-size: 0.8em;
        padding: .8em;
        background-color: rgba(255,255,255,.6);
        margin:0 auto;
    }

    @import './assets/scss/media/mobile.scss';

    .messages-container {
        position: absolute;
        top: 24px;
        right: 24px;
    }
    .message-text {
        position: relative;
        text-align: center;
        background-color: $msg-info;
        color: $white;
        max-width: 280px;
        border-radius: 8px;
        box-shadow: 1px 1px 6px 0 #19652399;
        height: 0;
        padding: 0;
        margin-bottom: 0;
        transition: padding .3s ease-in-out, height .3s ease-in-out, margin-nbottom .1s ease-in-out;
        opacity: .6;
        &.is-shown {
            height: 100%;
            padding: 8px 16px;
            margin-bottom: 16px;
        }
    }
</style>

